In [21]:
import os
import pandas as pd

In [17]:
display(os.getcwd())
display(os.path.dirname(os.getcwd()))
display(os.path.join(os.getcwd(),"1. Input_data","Temperature data.csv"))

'C:\\Users\\rj000\\OneDrive\\Desktop\\Work_Files\\Python_codes_for_univariate_analysis'

'C:\\Users\\rj000\\OneDrive\\Desktop\\Work_Files'

'C:\\Users\\rj000\\OneDrive\\Desktop\\Work_Files\\Python_codes_for_univariate_analysis\\1. Input_data\\Temperature data.csv'

In [24]:
__data_1 = pd.read_csv(os.path.join(os.getcwd(),"1. Input_data","Temperature data.csv"))
display(__data_1.shape)
__data_1

(12, 5)

           day      city  temperature  windspeed   event
0   01-01-2017  new york           32          6    Rain
1   01-02-2017  new york           36          7   Sunny
2   01-03-2017  new york           28         12    Snow
3   01-04-2017  new york           33          7   Sunny
4   01-01-2017    mumbai           90          5   Sunny
5   01-02-2017    mumbai           85         12     Fog
6   01-03-2017    mumbai           87         15     Fog
7   01-04-2017    mumbai           92          5    Rain
8   01-01-2017     paris           45         20   Sunny
9   01-02-2017     paris           50         13  Cloudy
10  01-03-2017     paris           54          8  Cloudy
11  01-04-2017     paris           42         10  Cloudy

In [28]:
pd.crosstab(__data_1.city,__data_1.event,values = __data_1.temperature,aggfunc=sum)

event     Cloudy    Fog  Rain  Snow  Sunny
city
mumbai       NaN  172.0  92.0   NaN   90.0
new york     NaN    NaN  32.0  28.0   69.0
paris      146.0    NaN   NaN   NaN   45.0